@import "../../styles/variables";

.subscribe-form {    
    width: 70%;
    display: flex;
    flex-direction: column; 
    gap: 1rem; 
    
    .form-group {
        
        input, select {
            background-color: $input-bg-color; 
            color: #fff;
            height: 40px;
            border-radius: 5px; 
            padding: 0 0.7rem; 
            
        }    
        
        input, button, select {
            border: none; 
            outline: none; 
            width: 100%; 
        }
        
        
        input, select {
            margin-top: 0.6rem;
        }
        
        select {
            padding: 0 0.5rem;
        }
    
        
        .align {
            width: 100%;
            margin-top: 0.6rem;
            display: flex;
            align-items: center; 
        }
        
        .label-align {
            position: relative; 
            flex: 1;
            max-width: 90px;
        }
        
        .label-align span {
            position: relative; 
            left: 22px;
        }
        
        input[type="checkbox"], input[type="radio"] {
            width: unset;
            height: unset;
            all: unset;
            position: absolute; 
            top: 0px; 
            left: 0;
            width: 15px; 
            height: 15px; 
            background-color: $input-bg-color;
            display: inline-block; 
            margin-right: 4px;
        }        
        
        input[type="radio"] {
            border-radius: 100%;
        }
        
        input[type="checkbox"] { 
            border-radius: 2px;
        }
        
        input[type="radio"]:checked, input[type="checkbox"]:checked {
            background-color: $primary-color;
        }
        
        button {
            padding: 10px; 
            border-radius: 5px; 
            background-color: $primary-color; 
            color: $text-color; 
            transition: all 0.3s ease;
            cursor: pointer;
            height: 45px;
            opacity: 0.9;
            font-weight: 600;
            
            &:hover {
                opacity: 1;
            }
        }
    }
}


@media screen and (max-width: 520px) {
    .subscribe-form {    
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .align {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
    }
    
    .label-align {
        min-width: 100%;
    }
}


